.info {
  display: flex;
  gap: 40px;
  padding: 20px 0;
}

.info__photo-column {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  gap: 20px;
}

.info__info-column {
  width: 80%;
}

.info__info-container {
  height: 50px;
}

.info__name {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0;
}

.info__subscribers {
  font-size: 12px;
}

.info__btn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .info {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .info__info-column {
    width: 100%;
  }
  .info__photo-column {
    width: 100%;
    align-items: center;
  }
  .info__btn-container {
    max-width: 300px;
  }
}